* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: black;
}

.cf:after {
    content: '';
    display: table;
    clear: both;
    float: none;
}

span {
    font-weight: 600;
}

h1 {
    font-weight: 200;
    font-size: 60px;
    color: white !important;
}

h1 span {
    color: white !important;
}

p {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: rgb(147, 0, 178);
    background: -moz-linear-gradient(left, rgb(147, 0, 178) 0%, rgb(251, 20, 232) 64%);
    background: -webkit-linear-gradient(left, rgb(147, 0, 178) 0%, rgb(251, 20, 232) 64%);
    background: linear-gradient(to right, rgb(147, 0, 178) 0%, rgb(251, 20, 232) 64%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9300b2', endColorstr='#fb14e8', GradientType=1);
}

.main-nav {
    width: 100%;
    top: 0;
    display: block!important;
}


.main-nav nav ul,
.con-nav nav ul{
    float: right;
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.main-nav nav ul li a{
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 25px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.con-nav nav ul li a{
    float: left;
    color: black;
    font-size: 20px;
    font-weight: 200;
    padding: 37.5px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.fixed-nav{
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 9999;
    -webkit-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.75);
}

.imagehead {
    background: url("../images/headimg.jpg");
    background-position: center center;
    height: 75vh;
    width: 100%;
    background-size: cover;
}

.titlehead {
    padding-top: 250px;
    text-align: center;
    color: white !important;
}

.claim {
    padding: 20px 0;
}

.claim p {
    color: white !important;
}

.button {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 25px;
    background: white;
    color: black;
    mix-blend-mode: screen;
    width: 100px;
    margin-left: calc(50% - 95px);
    padding: 15px 45px;
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    border-radius: 15px;
}

.restof {
    position: absolute;
    width: 100%;
    background-color: white;
}
.logo img{
    height: 100px;
    float: left;
}
.con1 h2 {
    font-weight: 200;
    text-align: center;
    font-size: 30px;
}

.footer{
    margin-top: 1000px;
}